$color-white: #ffffff;


$background-color-gris: #e1e1e1;
$background-color-white: #ffffff;
$background-color-white: #0a0a0a;

$text-nav: white;
$text-nav-hover: none;

$line-color: #B00000;

$title-color: #444;
$title-color-hover: #444;
$text-color: #555;
$text-color-hover: #555;