@import 'variables';
@import 'functions';
@import 'fonts';
@import 'grid';
@import 'style-guide';


* {
  box-sizing: border-box;
}


.container {
  background-color: bisque;

  & .row {
    background-color: #ffeead;
    width: 100%;

    & > div {
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: cadetblue;
      padding: 5px;
      border: solid 1px crimson;
      margin: 10px 0;
    }
  }
}
